.random {
  &-verify {
    &__layout {
      background: linear-gradient(180deg, $dark-gray 0%, $dark-gray 100%);
      padding: 50px 0px;
    }
  }

  &-faucet {
    &__layout {
      background: linear-gradient(180deg, $dark-gray 0%, $dark-gray 100%);
      padding: 50px 0px;
      
      & .MuiTypography-body1 {
        margin-left: 10px !important;
      }
  
      & .MuiRadio-colorSecondary.Mui-checked {
        color: $green;
      }
    }
  }
}
